%p
  = link_to '< Back', category_product_path(category, product), class: 'btn btn-primary'

.panel.panel-default
  .panel-heading
    %h1.panel-title Editing product

  .panel-body
    = render 'form'
