.well
  %p= review.content
  %b Rating: #{review.rating}
  %p
    %em by #{review.author}

  %p
    = link_to "Delete review", category_product_review_path(id: review.id, product_id: product.id), method: "delete"
