.well
  %p "#{review.content}"
  %b Rating: #{review.rating}
  %p
    %em
      by
      = link_to review.author, user_path(review.user)

  %p
    - if current_user && current_user.is_product_owner?(review)
      = link_to "Delete review", category_product_review_path(id: review.id, product_id: product.id), method: "delete"
